.leftsidebar{
    flex: 2;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    position: sticky;
    top: 75px;
}

.leftsidebarWrapper{
    padding: 20px;
}

.leftsidebarList{
    padding: 0;
    margin: 0;
    list-style: none;
}

.leftsidebarListItem{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.leftsidebarIcon{
    margin-right: 15px;
}