.NavBarContainer{
    height: 70px;
    width: 100%;
    background-color: #332d289a;
    display:flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.NavBarLeft{
    flex:3 ;
}

.logo{
    font-size: 40px;
    margin-left: 30px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.NavBarCenter{
    flex:5 ;
}

.searchbar{
    width: 100%;
    height: 30px;
    background-color: rgb(253, 253, 253);
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.searchIcon{
    font-size: 20px !important; 
    margin-left: 10px;
}

.searchInput{
    border: none;
    width: 70%;
    background-color: rgb(250, 248, 246);

}
.searchInput:focus{
    outline: none;

}
.NavBarRight{
    margin-left: 10px;
    flex: 3;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: rgb(0, 0, 0);  
    font-weight: bold; 
    cursor: pointer;
}

.NavBarLink{  /*login*/
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.NavBarLink1{ /*upload*/
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
    color: rgba(255, 145, 0, 0.89);
}

.NavBarLink3{ /*register*/
    margin-right: 10px;
    font-size: 14px; 
    cursor: pointer;
    color: rgb(3, 3, 3);
}

.NavBarIcons{
    display: flex;
}

.NavBarIconItems{
margin-right: 20px;
cursor: pointer;
position: relative;
color: rgb(0, 0, 0);
}

.NavBarIconBadge{
    height: 20px;
    width: 20px;
    background-color: red;
    border-radius: 50%;
    color:rgb(250, 250, 250);
    position: absolute;
    top: -7px;
    right: -7px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9px;
}

.NavBarImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

