.NavBarContainer{
    height: 70px;
    width: 100%;
    background-color: #a79d9d;
    display:flex;
    align-items: center;
    position: sticky;
    top: 0;

}

.NavBarLeft{
    flex:3 ;

}

.logo{
    font-size: 40px;
    margin-left: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.NavBarCenter{
    flex:5 ;
    
}
.searchbar{
    width: 100%;
    height: 30px;
    background-color: antiquewhite;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.searchIcon{
    font-size: 20px !important; 
    margin-left: 10px;
}

.searchInput{
    border: none;
    width: 70%;
    background-color: antiquewhite;

}
.searchInput:focus{
    outline: none;

}
.NavBarRight{
    flex:3 ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: rgb(0, 0, 0);  
    font-weight: bold; 
}
.NavBarLink{
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
}
.NavBarIcons{
    display: flex;
}
.NavBarIconItems{
margin-right: 15px;
cursor: pointer;
position: relative;
}
.NavBarIconBadge{
    height: 20px;
    width: 20px;
    background-color: red;
    border-radius: 50%;
    color:antiquewhite;
    position: absolute;
    top: -7px;
    right: -7px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9px;


}
.NavBarImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;

}