.post{
    widows: 100%;
    border-radius: 10px;
    box-shadow: 13px -12px 14px -10px rgba(0,0,0,0.5);
    -webkit-box-shadow: 13px -12px 14px -10px rgba(0,0,0,0.5);
    -moz-box-shadow: 13px -12px 14px -10px rgba(0,0,0,0.5);
    margin: 30px 0;
    background-image: linear-gradient(to right, rgb(47, 253, 47), rgb(71, 157, 214));
}

.postWrapper{
    padding: 20px;
    display: flex;
}

.postRight{
    display: flex;
    flex: 3;
    flex-direction: column;
    align-items: center;;
}

.postRightBottom{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.albumImg{
    width: 400px;
    height: 400px;
    object-fit: contain;
}

.interactButton{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.postLeft{
    display: flex;
    flex-direction: column;
    flex: 10;
    align-items: start;
}
.postLeftTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.postLeftTopLeft{
    display: flex;
    align-items: center;
}

.postLeftTopRight{
    display: flex;
}

.postProfileImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.postUsername{
    font-size: 15px;
    font-weight: 500;
    margin: 10px;
    cursor: pointer;
}

.postDate{
    font-size: 12px;  
}

.postLeftCenter{
    display: flex;
    padding: 10px;
    background-color: white;
    border-radius: 30px;
    width: 95%;
    max-height: 60%;
    margin-top: 10px;
}
.postLeftBottom{
    display: flex;
    align-items: center;
}

.playButton{
    padding: 5px;
    border-radius: 100%;
    margin: 20px;
}

.playImg{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.songLink{
    margin: 25px;
    margin-left: 20px;
}
/*
.postTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postTopLeft{
    display: flex;
    align-items: center;
}

.postCenterBottomHr{
    margin: 10px;
}
.playButton{
    flex: 3;
    padding: 5px;
    border-radius: 100%;
    margin: 20px;
}

.playImg{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.songLink{
    flex: 5;
    margin: 25px;
    margin-left: 20px;
}

.albumCover{
    display: flex;
    flex: 8;
    flex-direction: column;
    align-items: center;
}


.albumImg{
    width: 400px;
    height: 400px;
    object-fit: contain;
}

.albumBottom{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.interactButton{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postProfileImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.postUsername{
    font-size: 15px;
    font-weight: 500;
    margin: 10px;
    cursor: pointer;
}

.postDate{
    font-size: 12px;  
}

.postCenter{
    margin: 20px 0;
}

.postCenterBottom{
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    background-image: linear-gradient(to right, rgb(47, 253, 47), rgb(71, 157, 214));
}

.postBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postBottomLeft{
    display: flex;
    align-items: center;
}

.likeIcon{
    width: 24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
}

.postLikeCounter{
    font-size: 15px;
}

.postCommentText{
    cursor: pointer;
    border-bottom: 1px dashed gray;
    font-size: 15px;
}
*/